@import url("https://rsms.me/inter/inter.css");

html,
body,
#root {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  width: 100vw;
  height: 100vh;
}

body {
  background: #272730;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

#root {
  /* width: 76ch; */
}

.header{

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: visibility 0s, opacity 0.5s linear;
}

.header h1 {
  /* position: absolute;
  top: 43px;
  left: 140px; */
  text-align: center;
  padding: 0;
  margin: 40px;
  font-size: 5em;
  font-weight: 600;
  line-height: 0.7em;
  letter-spacing: -6px;
  color: #fff3ff;
}

.header .picker {
  /* position: absolute !important;
  top: 74px;
  left: 70px; */
  margin: 25px;
  width: 250px !important;
  height: 250px !important;
}


.item1 { grid-area: picker; }
.item2 { grid-area: shoe; }


.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    'picker picker shoe shoe shoe shoe';
  gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}


.header_main{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: #fff3ff;
}

footer{
  text-align: center;
  color: #fff3ff;
  font-size: 18px;

  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 20px;
}